*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5,h6,p{
    margin: 0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

:root{
    --white : #fff;
}
/* =====Navbar Start =====*/
.header__section{
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}
.nav__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
    max-width: 1440px;
    margin: 17px 0px;
    padding-bottom: 15px;
}

.nav__middle ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
}

.nav__middle ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #808DA5;
}

.nav__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
h5.nav__title {
    font-size: 16px;
    margin-right: 5px;
    font-weight: bold;

}

.nav__span{
    color: #EF4634;
}

a.btn_log {
    margin: 0px 15px;
    color: #3560AD;
    border: 2px solid #3560AD;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    padding:7px 14px;
    display: inline-block; 
    text-decoration: none;
    transition: all .5s ease-in-out
}

.btn_log i {
    margin-right: 5px;
}

a.btn_log:hover {
  background-color: #3560AD;
  color:var(--white);
}

.btn_sign {
    background-color: #3560AD;
    border: 2px solid #3560AD;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    padding:7px 14px;
    cursor: pointer;
    text-align: center;

}

.btn_sign i{
    margin-right: 5px;
}

a.btn_sign  {
    text-decoration: none;
    color: #fff;
    transition: all .5s ease-in-out;

}

a.btn_sign:hover{
background-color: transparent;
color: #3560AD;
}

/* ==========menu bar==== =====*/
.menuIcon{
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile__menu{
    position: absolute;
    height: 100vh;
    background-color: #C7C7C7;
    width: 50%;
    top: 0;
    left: 0;
    padding: 40px;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    
}
.open{
    transform: translateX(0%);
}

.mobile__menu ul li{
    margin-bottom: 25px;
}

.mobile__menu ul li a{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

.crossBtn{
    cursor: pointer;
}
/* =========menu bar ===========*/

@media screen and (max-width: 1399){
    .nav__middle ul li{
        padding: 0 10px;
    }
}

@media screen and (max-width:1199px){
    .menuIcon{
        display: block;
    }
    .nav__middle, .nav__right{
        display: none;
    }
}

@media screen and (max-width: 575px){
    .mobile__menu{
        width: 100%;
    }
}

/* Navbar End */

/* =========Bulletine Section Start */
.bulletine__section{
    margin: 55px 0 35px;
}

.bulletine__inner ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.bulletine__inner ul li a{
    color:#000000;
    font-size: 20px;
    font-weight: 400;
}

.bulletine__inner ul li a i{
    color: #EF4634;
}
/* =========Bulletine Section End */

/* =======Report Section Start Here=======*/
.report__content{
    background: radial-gradient(100% 100% at 50% 0%, #EF4634 0%, #3560AD 100%);
    position: relative;
    color: #fff;
    min-height: 286px;
    padding: 24px 25px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 14px 0;
}
.top .crime{
    font-size: 16px;
    font-weight: 400;
}

.top .live{
    font-size: 16px;
    font-weight: 700;
    position: relative;
    padding-right: 22px;
}
.top .live::after{
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    background-color: #fff;
    border-radius: 50%;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.report__content .report__h3{
    font-size: 33px;
    font-weight: 700;
    width: 100%;
    max-width: 580px;
    line-height: 43px;
}

.report__content .report__p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;

}

/* =======Report Section End Here=======*/



/* =========Single Button===== */

.single__button__section{
    text-align: center;
    position:absolute;
    bottom: 24px;
    width: 100%;
    max-width: 580px;
    left: 50%;
    transform: translateX(-50%);
}

a.single__button{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 25px;
    background-color: #fff;
    color: #EF4634;
    border-radius: 30px;
    transition: all .3s ease-in-out;

}
a.single__button:hover{
    background-color: #fff;
    border: none;
    color: #3560AD;
}
a.single__button.vote__btn{
    color: #3560AD;
}

a.single__button.vote__btn:hover {
    color: #EF4634;


}

@media screen and (max-width:1399px) {
    a.single__button{
        max-width: unset;
        width: 85%;
        margin: auto;
    }
    
}
/* =========Single Button===== */


/* =======Question Section Start Here=======*/
.question__content{
    background: radial-gradient(100% 100% at 50% 0%, #FF3189 0%, #FF402A 100%);
    position: relative;
    color: #fff;
    min-height: 286px;
    padding:24px 25px;
}

/* .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
} */
/* .top .question{
    padding-bottom: 14px;
    font-size: 16px;
    font-weight: 400;
} */

/* .top .live{
    padding-bottom: 14px;
    font-size: 16px;
    font-weight: 700;
} */

.question__content .question__p{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    width: 100%;
    max-width: 580px;
}

/* =======Question Section End Here=======*/

/* =======Politics Section Start Here=======*/
.politics__section{
    margin: 50px 0;

}
.politics__box{
    padding: 24px 25px;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    margin-bottom: 20px;

}
/* .politics__content{
    padding: 30px 30px 56px ;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);

} */

.politics__p{
    color:#808DA5;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.politics__content .politics__h3{
    color:#000000;
    font-size: 33px;
    font-weight: 700;
    line-height: 43px;
    width: 100%;
    max-width: 787px;
}

.politics__content .politics__para{
    color:#4B4B4B;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    width: 100%;
    max-width: 787px;
}
/* =======Politics Section End Here=======*/

/* =======Approval Section Start Here=======*/
.approval__box1{
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    padding: 24px 25px 43px;
}
.approval__box1 .approval__h3{
    color:#000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;

}
.selection{
    display: flex;
    align-items: center;
    margin-bottom: 63px;

}
p.apr__box.approve
{
    margin-right: 34px;
}
.apr__box{
    position: relative;
    padding-left: 28px;
    line-height: 25px;
}

.selection .apr__box::after{
    position:absolute;
    content: "";
    height: 16px;
    width: 16px;
    background-color: #31CAA8;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}


.selection .apr__box.dis-approve::after{
    background-color: #FF4D39;

}

/* =======Approval Section End Here=======*/

/* --- Trackers Section Start Here ----- */
.tracker__section{
    margin: 60px 0 20px; 
}

.tracker__inner .tracker{
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #000000;    
}

/* --- Trackers Section End Here ----- */

/* --- Daily Question Three Section End Here ----- */
.daily__questin__section{
    margin: 20px 0 30px;
}

.daily__question__box1{
    background-color: #3560AD;
    color: #fff;
    padding: 24px 25px 0;
    position: relative;
    height: 298px;
}
/* ==========Vote Button Start========== */
.vote__button__section{
    text-align: center;
    position:absolute;
    bottom: 24px;
    width: 100%;
    max-width: 580px;
    left: 50%;
    transform: translateX(-50%);
}

a.vote__button {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    max-width: 363px;
    display: inline-block;
    background-color: #fff;
    color: #3560AD;
    border-radius: 30px;
    transition: all .3s ease-in-out;

}

a.vote__button:hover{
    background-color: #fff;
    border: none;
    color: #EF4634;
}
.daily__question__box1 .DQ__para{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    width: 100%;
    max-width: 363px;

}

@media screen and (max-width:1399px)
 { a.vote__button{
    max-width: unset;
    width: 85%;
    padding: 5px 0;
 }
    
}

/* ==========Vote Button End========== */
/* ==========View More Start========== */
.view__more__inner .view__more__h4{
        font-size: 22px;
        font-weight: 700;
        color: #3560AD;
}

.view__more__inner .view__more__h4 i{
    padding-left:10px ;
    text-align: center;
}

/* ==========View More End========== */


/* =======Extra CSS for Articls Blog========= */
.politics__h3.articls{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.blog__img{
    /* margin:24px 25px 14px ; */
    width: 100%;
}
/* =======Extra CSS for Articls Blog========= */

/* Footer Section Start */


.footer__section{
    background-color: #3560AD;
}

h3.footer__title{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    padding: 47px 0 38px;

}

.fooer__left__title{
    font-size: 20px;
    color: #fff;
    padding-bottom: 17px;
}

.footer__left p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    width: 100%;
    max-width: 363px;
    padding-bottom: 17px;
    
}

.footer__left ul li{
    color: #E6E6E6;
    font-size: 30px;
}

/* Social Icon Start */


.social__icon ul{
    display: flex;
    align-items: center;
}

.social__icon ul li{
    margin-right: 10px;
}

.social__icon i {
    font-size: 20px;
    color: #3560AD;
}

.social__icon ul li a {
    height: 36px;
    width: 36px;
    display: inline-block;
    background: #fff;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
}

/* Social Icon End */


.footer__middle ul li{
    font-weight: 400;
    padding-bottom: 10px;
}

.footer__middle ul li a{
    color: #fff;
    font-size: 16px;

}

.footer__right ul li{
    font-weight: 400;
    padding-bottom: 10px;
}

.footer__right ul li a{
    color: #fff;
    font-size: 16px;

}

.copyright p{
    color: #fff;
    font-size: 16px;
    font-weight: 400; 
    padding: 30px 0;
}

.footer__row{
padding-bottom: 34px;
border-bottom: 0.5px solid #808DA5;
}

/* Footer Section End */
